body {
  background-color: #ffffff;
  color: #333333;
  font-family: "SF Pro Display", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Header styles */
.header {
  background-color: #333;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  color: lightblue;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.navbar {
  margin-left: auto;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  display: inline-block;
  margin-left: 20px;
}

.navbar-nav li a {
  color: lightblue;
  text-decoration: none;
  padding: 10px;
}


.intro {
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 32px;
  color: #333333;
  margin-bottom: 20px;
}

.slogan {
  background-color: #000000;
  padding: 40px;
  text-align: center;
}

.slogan-text {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

.benefits {
  margin-top: 40px;
}

.benefits h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-list li {
  margin-bottom: 20px;
}

.benefits-list li strong {
  display: block;
  font-weight: bold;
}

.benefits-list li:not(:last-child) {
  margin-bottom: 10px;
}

.contact-section {
  background-color: #ffffff;
  padding: 60px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-column {
  flex-basis: 50%;
}

.contact-column h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.map {
  width: 100%;
  height: 300px;
}

/* Footer styles */
.footer {
  background-color: #333;
  padding: 60px 0;
  text-align: center;
}

.footer p {
  margin-bottom: 0;
}

/* Media query for mobile */
@media only screen and (max-width: 480px) {
  /* Adjust the padding for smaller devices */
  .footer {
    padding: 40px 0;
  }
}

/* Default styles for desktop */

/* Header */
.header {
  /* Desktop styles */
}

/* Main content */
.main-content {
  /* Desktop styles */
}

/* Contact section */
.contact {
  /* Desktop styles */
}

/* Media queries for tablet and mobile */

/* Tablet styles */
@media only screen and (max-width: 768px) {
  /* Header */
  .header {
    /* Tablet styles */
  }

  /* Main content */
  .main-content {
    /* Tablet styles */
  }

  /* Contact section */
  .contact {
    /* Tablet styles */
  }
}

/* Mobile styles */
@media only screen and (max-width: 480px) {
  /* Header */
  .header {
    /* Mobile styles */
  }

  /* Main content */
  .main-content {
    /* Mobile styles */
  }

  /* Contact section */
  .contact {
    /* Mobile styles */
  }
}



  
